/*  GENERAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.profile-card, .profile-section {
    margin: 20px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px lightgray;
}

/* NAVBAR */
.navbar {
    background-color: #343A40;
    padding: 10px 50px;
    color: white;    
    font-size: 2rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;    
    align-items: center;
    font-size: 1.5rem;
    gap: 15px;
}

.navbar li {
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: lightgray;
}

.navbar .active {
    font-weight: bold;
    color: white;
}

.navbar .logo {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.navbar button{
    background-color: #d9d9d9;
    color: #343A40;
    font-size: 1.2rem;
    border: 3px solid #d9d9d9;
    border-radius: 3px;
    padding: 0.5rem;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button:hover {  
    background-color: #343A40;
    color: #d9d9d9;
    border: 3px solid #d9d9d9;
    cursor: pointer;
}

.btn-access {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

#hamburger-menu {
    display: none;
}

/* HOMEPAGE PROFILE CARDS */

.container {
    max-width: 1280px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card {
    width: 270px;
}

.profile-card img {
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px lightgray;
}

.profile-card ul {
    display: flex;
    margin-top: 10px;
    padding: 0;
    gap: 10px;
}

.profile-card li {
    list-style: none;
}

.profile-card i {
    color:#343A40;    
}

/* PROFILE PAGE */
.profile-container {
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Profile identity section */
.profile-identity {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile-identity h4 {
    font-style: italic;
}

.profile-identity img {
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px lightgray;
    align-self: center;
    flex-grow: 0;
    margin: 30px 0;
}

.biograpy-container, .personal-info-container, .skills-container, .bottom-identity {
    margin: 20px 0;
}

.personal-info-container ul, .skill-list {
    margin-left: 20px;
}

.personal-info-container li, .skills-container li{
    margin: 5px 0;
}

.personal-info {
    font-weight: bold;
}

.skills-container > ul {
    list-style: none;
}

.social-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.social-container li {
    margin-left: 10px;
}

.social-container i {
    color:#343A40;    
}

.profile-identity button{
    background-color: #343A40;
    color: white;
    font-size: 1.2rem;
    border: 3px solid #343A40;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-identity button:hover {  
    background-color: #d9d9d9;
    color: #343A40;
    border: 3px solid #343A40;
    cursor: pointer;
}

/* Profile data section */
.profile-data {
    flex-grow: 4;
}


/* FOOTER */
footer {
    background-color: lightgrey;
    padding: 20px;
    font-size: 1.2rem;
    width: 100%;
    position: sticky;
    bottom: 0;
}


/* MEDIA QUERIES */
/* hamburger menu */
@media screen and (max-width: 870px) {
    #hamburger-menu {
        display: block;
    }

    .navbar ul {
        display: none;
    }        
}

/* profile page */
@media screen and (max-width: 870px){
    .profile-container {
        display: block;
    }
}