/*  GENERAL SETUP */
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

/* NAVBAR */
.navbar {
    background-color: #343A40;
    padding: 10px 20px;
    color: white;    
    font-size: 2rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;    
    align-items: center;
    font-size: 1.5rem;
    gap: 15px;
}

.navbar li {
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: lightgray;
}

.navbar .active {
    font-weight: bold;
    color: white;
}

.navbar .logo {
    text-decoration: none;
    color: white;
}

.navbar button:hover {  
    background-color: #343A40;
    color: #d9d9d9;
    border: 3px solid #d9d9d9;
}

.navbar button {
    height: 2.5rem;
    line-height: 100%;
    background-color: #d9d9d9;
    color: #343A40;
    font-size: 1.2rem;
    border: 3px solid #d9d9d9;
    border-radius: 3px;
    padding: 10px 15px;    
}

.btn-access {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.btn-access button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

/* PROFILE CARDS */

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card {
    width: 270px;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px lightgray;
}

.profile-card img {
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px lightgray;
}

.profile-card ul {
    display: flex;
    margin-top: 10px;
    padding: 0;
    gap: 10px;
}

.profile-card li {
    list-style: none;
}

.profile-card i {
    color:#343A40;    
}

/* FOOTER */
footer {
    background-color: lightgrey;
    padding: 20px;
    font-size: 1.2rem;
    width: 100%;
    position: sticky;
    bottom: 0;
}


/* MEDIA QUERIES */
/* hamburger menu */
@media screen and (max-width: 850px) {
    .hamburger-menu {
        display: block;
    }

    .navbar ul {
        display: none;
    }
        
}